/*
Project Name: portfolio_toriyama
Author: Sysbird
*/
/*------------------------------
reset
-----------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------
Font Awesome
-----------------------------*/
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("fontawesome/fa-solid-900.eot");
  src: url("fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fontawesome/fa-solid-900.woff2") format("woff2"), url("fontawesome/fa-solid-900.woff") format("woff"), url("fontawesome/fa-solid-900.ttf") format("truetype"), url("fontawesome/fa-solid-900.svg#fontawesome") format("svg");
}

/* element
--------------------------------------------- */
a {
  color: #160c51;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.7rem;
  line-height: 1.2;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  line-height: 1.7;
  margin: 0 0 1.7rem;
}

blockquote {
  padding: 1.7rem 1.7rem 0 1.7rem;
  margin-bottom: 1.7rem;
  background-color: #f6f9f9;
  display: inline-block;
}

blockquote small {
  display: block;
  line-height: 20px;
  color: #999;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote cite:before {
  content: "-";
}

blockquote cite {
  color: #999;
  display: block;
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.7rem;
}

table th,
table td {
  border-bottom: 1px solid #e7e7e7;
  line-height: 1.4;
  padding: 0.85em;
  text-align: left;
  vertical-align: top;
}

table th {
  border-bottom: 2px solid #e7e7e7;
  font-weight: bold;
}

pre {
  border: dotted 1px #CCC;
  padding: 0.85rem;
  background: #f6f9f9;
  margin-bottom: 1.7rem;
  line-height: 1.4;
}

code {
  background: #f6f9f9;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
}

hr {
  background-color: #e7e7e7;
  border: 0 none;
  height: 1px;
  margin-bottom: 1.7rem;
}

sup, sub {
  font-size: 80%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  top: 0.5ex;
}

sup {
  bottom: 1ex;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

ul,
ol {
  margin: 0 0 1.7em 1rem;
  padding: 0 0 0 1rem;
  line-height: 1.4;
}

ul li,
ol li {
  padding: 0.2125rem 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ul ul {
  list-style: circle;
}

ul ul ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

dl {
  margin: 0 0 1rem 0;
  line-height: 1.7;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin: 0 1.7rem 1.7rem;
  padding: 0;
}

del {
  color: #C00;
}

ins {
  background: #ffc;
  text-decoration: none;
}

/* Structure
--------------------------------------------- */
html {
  font-size: 1.1em;
}

html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.container {
  width: 96%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  *zoom: 1;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

#content {
  width: 100%;
}

/* Wrapper
-------------------------------------------------------------- */
.wrapper {
  font-family: 'Open Sans', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial','Hiragino Sans', YuGothic, 'Yu Gothic', Meiryo, 'MS PGothic';
  color: #222327;
  background-color: #FFF;
  overflow: hidden;
}

/* Header
-------------------------------------------------------------- */
#header {
  width: 100%;
  background: #160c51;
  background: #CC0000;
  position: relative;
  z-index: 4;
}

#header,
#header a {
  color: #FFF;
}

#header #branding {
  padding: 0.4em 0;
}

#header #branding #site-title {
  margin: 0 1em 0 0;
  padding: 0;
  font-size: 2rem;
  font-weight: normal;
  color: #FFF;
  line-height: 1;
}

#header #branding #site-title a {
  display: block;
  padding: 0.85rem 0;
}

#header #branding #site-title a:hover {
  text-decoration: none;
}

#header #branding #site-description {
  margin-bottom: 0;
}

/* Menu
-------------------------------------------------------------- */
#menu-wrapper {
  margin-left: -2%;
  margin-right: -2%;
}

#menu-wrapper #small-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  box-sizing: content-box;
  width: 2rem;
  padding: 0;
  padding-top: 1.5rem;
  padding-right: .75rem;
  padding-bottom: 1.5rem;
  padding-left: .75rem;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

#menu-wrapper #small-menu .icon {
  position: relative;
  display: block;
  margin-top: 10px;
}

#menu-wrapper #small-menu .icon, #menu-wrapper #small-menu .icon:before, #menu-wrapper #small-menu .icon:after {
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #FFF;
}

#menu-wrapper #small-menu .icon:before, #menu-wrapper #small-menu .icon:after {
  position: absolute;
  top: -10px;
  left: 0;
  content: ' ';
}

#menu-wrapper #small-menu .icon:after {
  top: 10px;
}

#menu-wrapper.open {
  border-bottom: dotted 1px #222327;
}

#menu-wrapper.open #small-menu {
  background-color: transparent;
}

#menu-wrapper.open #small-menu .icon {
  background-color: transparent;
}

#menu-wrapper.open #small-menu .icon:before, #menu-wrapper.open #small-menu .icon:after {
  top: 0;
}

#menu-wrapper.open #small-menu .icon:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-wrapper.open #small-menu .icon:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-wrapper ul#menu-primary-items {
  margin: 0;
  padding: 0;
  display: none;
  /* visibility will be toggled with jquery */
}

#menu-wrapper ul#menu-primary-items li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu-wrapper ul#menu-primary-items li a,
#menu-wrapper ul#menu-primary-items li span {
  padding: 0.85rem;
  display: block;
  color: #FFF;
  text-decoration: none;
  line-height: 1.2;
  border-top: dotted 1px #FFF;
}

#menu-wrapper ul#menu-primary-items li span {
  color: #AAA;
}

/* Images
-------------------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
}

/* Footer
--------------------------------------------- */
#footer {
  clear: both;
  width: 100%;
  margin: 0 auto;
  background-color: #160c51;
  position: relative;
  z-index: 1;
}

#footer,
#footer a {
  color: #FFF;
}

#footer .copyright {
  margin-bottom: 0;
  padding: 0.85rem 0;
}

/* Section
--------------------------------------------- */
.section {
  background: #FFF;
  z-index: 1;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

.section:after {
  content: "";
  display: table;
  clear: both;
}

.section .entry-content {
  padding-top: 1.7rem;
}

.section:nth-child(even) {
  background-color: #f6f9f9;
}

#profile .entry-eyecatch {
  margin: 5%;
}

#profile img {
  border-radius: 100%;
}

/* Home Header
--------------------------------------------- */
#wall {
  overflow: hidden;
}

#wall .slider {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 66.66667%;
  transition-duration: .7s;
  transition-property: padding-top;
}

#wall .slideitem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

#wall .slideitem img {
  width: 100%;
  height: auto;
}

#wall .slideitem.start {
  display: block;
}

/* Media queries for responsive design
--------------------------------------------- */
/* --- iPad Landscape --- */
@media print, screen and (min-width: 660px) {
  html {
    font-size: inherit;
  }
}

/* --- PCs --- */
@media print, screen and (min-width: 800px) {
  .two-columns {
    display: -webkit-flex;
    display: flex;
  }
  .two-columns .entry-eyecatch {
    width: 43%;
    margin-right: 3%;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }
  .two-columns .entry-content {
    margin-top: 0;
    width: 67%;
  }
  .section:nth-child(even) .two-columns {
    flex-direction: row-reverse;
  }
  .section:nth-child(even) .two-columns .entry-eyecatch {
    margin-left: 3%;
    margin-right: 0;
  }
}

/* --- PCs --- */
@media print, screen and (min-width: 930px) {
  body,
  .wrapper {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .container {
    width: 930px;
  }
  #header #branding {
    padding-top: 1em;
    float: left;
  }
  #header #branding #site-title a {
    display: inline;
  }
  #wall {
    width: 930px;
    margin: 0 auto 40px;
  }
}

@media screen and (min-width: 930px) {
  #menu-wrapper {
    margin: 0;
    *zoom: 1;
  }
  #menu-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
  #menu-wrapper #small-menu {
    display: none;
    /* hide small menu initially */
  }
  #menu-wrapper ul#menu-primary-items {
    /* ensure .menu is visible on desktop version */
    display: block !important;
    text-align: right;
  }
  #menu-wrapper ul#menu-primary-items li {
    display: inline-block;
    position: relative;
  }
  #menu-wrapper ul#menu-primary-items li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  #menu-wrapper ul#menu-primary-items li a,
  #menu-wrapper ul#menu-primary-items li span {
    border-top: none;
  }
  #menu-wrapper ul#menu-primary-items > li > a {
    padding: 30px 0.85rem;
  }
  body.fixed-header {
    padding-top: 80px;
  }
  body.fixed-header #header {
    position: fixed;
    top: -60px;
    width: 100%;
    background-color: rgba(22, 12, 81, 0.8);
    transition-duration: .7s;
    transition-property: top;
  }
  body.fixed-header #header.show {
    top: 0;
  }
  body.fixed-header #header #branding {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  body.fixed-header #header #branding #site-description {
    display: none;
  }
  body.fixed-header #header #menu-wrapper ul#menu-primary-items {
    text-align: right;
  }
  body.fixed-header #header #menu-wrapper ul#menu-primary-items li ul {
    top: 60px;
  }
  body.fixed-header #header #menu-wrapper ul#menu-primary-items > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
  }
}

@media print {
  .wrapper {
    font-size: 0.96em;
  }
  #header,
  #footer {
    background: #FFF;
    color: #222327;
  }
  #header #branding #site-title {
    color: #222327;
  }
  #footer {
    border-top: solid 1px #222327;
  }
  .container {
    width: 100%;
  }
  .section:not(.newpage) {
    border-top: solid 1px #222327;
  }
  .section:nth-child(even) {
    background: none;
  }
  .section.newpage {
    page-break-before: always;
  }
  #footer #back-top,
  .contact {
    display: none;
  }
}
